*{
    padding: 0;
    margin: 0;
}

body {
  font-family: "Chivo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  min-height: 100svh;
}

#container {
  display: none;
}

#largerScreen {
  height: 100svh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  #container {
    display: flex;
    flex-direction: column;
  }

  #largerScreen {
    display: none;
  }
}

.flex{
  display: flex;
}

.row{
  flex-direction: row;
}

.column{
  flex-direction: column;
}

.companyTitle{
  font-size: 24px;
  font-weight: bold;
  color: #716966;
}

#navbar{
  justify-content: space-between;
  padding: 24px 16px;
  border-bottom: 1px solid #D0D0D0;
}

#menubar{
  color: #3A312E;
  justify-content: space-between;
  font-weight: 300;
  padding: 24px 16px;
}

.contacts{
  color: #E0A64E;
}

.map{
  color: #d7d7d7;
}

#logo{
  width: 31px;
  height: 31px;
}

#menuIcon{
  width: 5px;
  height: 22px;
}

#contactCard{
  width: 25px;
  height: 22.5px;
}

#galleryCard{
  width: 24px;
  height: 19.5px;
}

#mapCard{
  width: 17px;
  height: 19.95px;
}

#shortlistedCard{
  width: 29px;
  height: 28px;
}

#sortCard{
  width: 31px;
  height: 25px;
}

.menuText{
  font-size: 8px;
}

#menuLeft{
  gap: 26px;
}

#menuRight{
  gap: 21px;
}

.menuOption{
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.dark{
  background-color: #FFFCF2;
}

.card{
  border-top: 1px solid #d7d7d7;
  padding: 24px 32px;
  justify-content: space-between;
}

#cardLeft{
  flex-basis: 65%;
}

#arrow_right{
  width: 23px;
  height: 23px;
}

#eye_icon{
  width: 20px;
  height: 20px;
}

#shortlist_icon{
  width: 17.25px;
  height: 21px;
}

#warning_icon{
  width: 16px;
  height: 16px;
}

.actionBox{
  font-size: 8px;
  justify-content: center;
  align-items: center;
  color: #8D4337  ;
}

#cardRight{
  border-left: 1px solid #D0D0D0;
  padding-left: 32px;
  gap: 32px;
}

.title{
  font-size: 18px;
  font-weight: bold;
  gap: 8px;
}
.starbox{
  gap: 4px;
}

.starbox img{
  width: 16px;
  height: 16px;
}

.description{
  font-size: 10px;
  margin: 20px 0;
  font-weight: 300;
}

.factBox{
  gap: 32px;
  margin-bottom: 32px;
}

.factCard{
  justify-content: center;
  align-items: center;
}

.factTitle{
  font-weight: bold;
  font-size: 24px;
}

.factDesc{
  font-weight: 300;
  font-size: 10px;
}

.contactno{
  font-size: 16px;
}